.header__menu {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    padding: 0 40px;
    row-gap: 5vh;
}

.nav__menu {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
}

.menu_item {
    position: relative;
    --minFontSize: 18px;
    --maxFontSize: 24px;
    --scaler: 2vw;
    font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) );
    letter-spacing: -0.04em;
    color: #999;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

.menu_item:after {
    content: "";
    position: absolute;
    background-color: #000;
    height: 1px;
    width: 0;
    left: 0;
    bottom: -0.5em;
    transition: all .2s ease-in-out;
}

.menu_item:hover:after {
    width: 100%;
    transition: all .2s ease-in-out;
}

.menu_item:hover {
    color: #000;
    transition: all .2s ease-in-out;
}

