* {
    cursor: none;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    overscroll-behavior: none;
}   

.container {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    overflow: hidden;
    row-gap: 100px;
}

section {
    padding: 0 40px;
    height: auto;
}

.fullscreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 80vh;
}

.hero {
  display: grid;
  padding: 0 40px;
  height: 80vh;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "hero__cellTop hero__cellTop hero__cellTop hero__cellTop"
    "hero__cellTop hero__cellTop hero__cellTop hero__cellTop"
    "hero__cellBottom hero__cellBottom hero__cellBottom hero__cellBottom";
  margin-bottom: 10vh;
}
  
.hero__cellTop { 
    grid-area: hero__cellTop;
    align-self: center;
}
  
.hero__cellBottom { 
    grid-area: hero__cellBottom;
    align-self: start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
    column-gap: 10vw;
    row-gap: 5vw;
}

.cell_portraits {
    display: flex;
    flex-direction: row;
    width: 50%;
    max-width: 30vw;
}

.portrait {
    width: inherit;
}
  
.behance, .dribbble, .instagram, .telegram {
    padding: 20px;
    margin: 0 16px 0 16px;
    transition: all .2s ease-in-out;
}

.btn__large {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #999;
    border-radius: 50%;
    height: 100%;
    width: 30vh;
    color: #000;
    text-decoration: none;
    transition: all .2s ease-in-out;
    color: #999;
}

.btn__large:hover {
    border: 1px solid #000;
    transition: all .2s ease-in-out;
    color:#000 !important;
}

.industryItem {
    margin-top: 40px;
    width: 40%;
}

.gap-10 {
    flex-wrap: wrap;
    row-gap: 0;
}

.slider {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 10vw;
}

.sliderItem {
    width: 80vw;
}



/** Cursor **/

.cursor {
    position: fixed;
    top: 0;
    left: 0;
    font-size: 2rem;
    pointer-events: none;
    display: grid;
    grid-template-areas: "layer";
    place-items: center;
    --color: rgba(199, 199, 199, 0.7);
    z-index: 999;
    mix-blend-mode: screen;
    transform: translate(-50%, -50%);
}

.cursor > * {
    grid-area: layer;
}

.cursor,
.cursor * {
    will-change: transform;
}
  
.cursor-outer {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    transform: translate(calc(var(--lag-x) * 1px), calc(var(--lag-y) * 1px));
}
  
.cursor-inner {
    width: 0.8em;
    height: 0.8em;
    background: var(--color);
    border-radius: 50%;
    transform: translate(calc(var(--x) * 1px), calc(var(--y) * 1px)) scale(var(--lag-scale));
}

/** Text Color Overrides **/

.white {
    color: #fff
}

.black {
    color: #000
}

.opacity-08 {
    opacity: .8;
}