@charset "UTF-8";

@font-face {
    font-family: 'CraftworkGrotesk';
    src: url('/app/fonts/CraftworkGrotesk-Medium.woff2') format('woff2'),
         url('/app/fonts/CraftworkGrotesk-Medium.woff') format('woff'),
         url('/app/fonts/CraftworkGrotesk-Medium.ttf') format('truetype');
}

* {
    font-family: 'CraftworkGrotesk', Fallback, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
}

.hero__h4 {
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #C3C8CC;
}

.hero__h1 {
    line-height: 72%;
    color: #000;
    margin-bottom: 120px;
    --minFontSize: 112px;
    --maxFontSize: 250px;
    --scaler: 10vw;
    font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) );
}

.paragraphDefault {
    font-size: 20px;
    line-height: 34px;
    max-width: 660px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #90949A;
}
