@charset "UTF-8";

@font-face {
    font-family: 'pp_object_sansheavy';
    src: url('../fonts/ppobjectsans-heavy-webfont.woff2') format('woff2'),
         url('../fonts/ppobjectsans-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pp_object_sansregular';
    src: url('../fonts/ppobjectsans-regular-webfont.woff2') format('woff2'),
         url('../fonts/ppobjectsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    font-family: 'pp_object_sansregular', sans-serif;
}

.headingLarge {
    --minFontSize: 40px;
    --maxFontSize: 180px;
    --scaler: 10vw;
    line-height: 110%;
    font-weight: 400;
    letter-spacing: -0.04em;
    color: #000;
    margin-bottom: 120px;
    font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) );
}

.projectTitle {
    --minFontSize: 40px;
    --maxFontSize: 180px;
    --scaler: 10vw;
    line-height: 110%;
    font-weight: 400;
    letter-spacing: -0.04em;
    margin-bottom: 40px;
    font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) );
}

.projectDescription {
    --minFontSize: 18px;
    --maxFontSize: 24px;
    --scaler: 2vw;
    font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) );
    text-align: left;
    letter-spacing: -0.02em;
}

h2 { 
    --minFontSize: 32px;
    --maxFontSize: 80px;
    --scaler: 10vw;
    font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) );
    line-height: 110%;
    margin-bottom: 100px;
    max-width: 40vw;
}

.hero__paragraph { 
    --minFontSize: 18px;
    --maxFontSize: 24px;
    --scaler: 2vw;
    font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) );
    line-height: 150%;
    letter-spacing: -0.04em;
    margin: 0;
    max-width: 50vw;
}

.paragraph { 
    --minFontSize: 18px;
    --maxFontSize: 24px;
    --scaler: 2vw;
    font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) );
    line-height: 150%;
    letter-spacing: -0.04em;
    margin: 0;
    max-width: 50vw;
    padding-bottom: 8px;
}

.projectTitle {
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -0.02em;
}

@media only screen and (max-width: 1800px) {
    
    h2 {
        max-width: 100vw;
    }

}

