@charset "UTF-8";

@font-face {
    font-family: 'CraftworkGrotesk';
    src: url('/app/fonts/CraftworkGrotesk-Medium.woff2') format('woff2'),
         url('/app/fonts/CraftworkGrotesk-Medium.woff') format('woff'),
         url('/app/fonts/CraftworkGrotesk-Medium.ttf') format('truetype');
}

* {
    font-family: 'CraftworkGrotesk', Fallback, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}